:host {
  display: flex; /* Change from block to flex */
  width: 100%;
  min-height: 6rem;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box; /* Uncomment this line */
  justify-content: space-between; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

a {
  color: white;
  text-decoration: none;
  font-size: 0.75rem;
  align-self: end;
}

img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.logo-link {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}
