<div class="dashboard-container">
  <div class="dashboard">
    <h1>Dashboard</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videos">
          <td>{{ video.name }}</td>
          <td>{{ video.email }}</td>
          <td>
            <div class="button-container">
              <mat-icon
                (click)="previewVideo(video.vid_url)"
                style="color: black; font-size: 16px"
                matTooltip="Preview"
                matTooltipPosition="above"
                >visibility</mat-icon
              >
              <a
                [href]="video.vid_url"
                style="color: black; font-size: 16px"
                download
                matTooltip="Download"
                matTooltipPosition="above"
                ><mat-icon>download</mat-icon></a
              >
              <mat-icon
                (click)="deleteVideo(video.vid_url)"
                style="color: red; font-size: 16px"
                matTooltip="Delete"
                matTooltipPosition="above"
                >delete</mat-icon
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Structure -->
<div id="videoModal" class="modal" [ngClass]="{ show: previewUrl !== null }">
  <div class="modal-content">
    <span class="close" (click)="closePreview()">&times;</span>
    <video controls [src]="previewUrl" width="100%"></video>
  </div>
</div>
