html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-between; /* Distribute space between children */

  border: 1px solid black;
  border-radius: 8px;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding doesn't affect the width/height */
  width: 60vw; /* Fixed width */
  height: 60vh; /* Fixed height */
  background-color: white; /* Optional: Set a background color */
}

.form-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px; /* Adjust margin as needed */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  font-size: 16px; /* Adjust font size as needed */
  flex-grow: 1; /* Allow fields to grow and fill available space */
}

button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  background-color: red;
  color: white;
  cursor: pointer;
  align-self: center;
  min-width: 100%;
  height: 3rem;
  font-size: 1.25rem;
}

.vid-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
  text-align: center;
  height: 25%;
  padding: 4rem;
  padding-top: 0;
  margin-top: 0;
}
